.styled-select-button {
    position: relative;
    display:block;
    margin-top:0.5em;
    overflow:hidden;
    width:100%;
    max-width:100%;
    border: 1px solid #bbb;
}

select.styled-select {
    /* Make sure the select is wider than the container so we can clip the arrow */
    width:110%;
    max-width:110%;
    min-width:110%;
    /* Remove select styling */
    appearance: none;
    -webkit-appearance: none;
    /* Ugly Firefox way of doing it */
    -moz-appearance: window;
    text-indent: 0.01px;
    text-overflow: "";
    /* Magic font size number to prevent iOS text zoom */
    font-size:12px;
    background:none;
    border: none;
    color: #444;
    outline: none;
    /* Padding works surpringly well */
    padding: .4em 19% .4em .8em;
    font-family: helvetica, sans-serif;
    line-height:1.2;
    margin:.2em;
}

/* This hides native dropdown button arrow in IE */
select::-ms-expand.styled.select{
    display: none;
}

/* Custom arrow - could be an image, SVG, icon font, etc. */
.styled-select-button::after {
    background: none;
    color: #bbb;
    content: '';
    border-top: 7px solid black;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent; 
    font-size: .7em;
    padding:0;
    position: absolute;
    right: 1em;
    top: 1em;
    bottom: .3em;
    width: 0;
    height: 0;
    z-index: 1;
    /* This hack makes the select behind the arrow clickable in some browsers */
    pointer-events:none;
}

/* Hover style - tricky because we're clipping the overflow */
.styled-select-button:hover {
    border:1px solid #888;
}

/* Focus style */
select:focus.styled-select{
    outline: none;
}

/* This hides focus around selected option in FF */
select:-moz-focusring.styled-select{
    color: transparent;
    text-shadow: 0 0 0 #000;
}


